.popup{
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}