.elements {
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 66px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 17px;
}

@media screen and (max-width: 880px) {
    .elements {
        max-width: 282px;
        padding: 0 0 48px 0;
    }
    
}