.form__save-button {
    margin: 48px 36px 37px 36px;
    padding: 14px 133px 18px 134px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #000;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity .2s linear;
}

.form__save-button:hover {
    opacity: .8;
}